 .contenedor {
    width: 90%;
    margin: 5%;
 }
 .contenedor .table tr td {
        border: 2px solid;
 }


 .contenedor .table tr td .top_texto_qualidade {
    margin-top: 30%;
}

.contenedor .table tr td .top_texto_itens {
    margin-top: 200%;
}

#blocker {
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
}