 .contenedor {
    width: 90%;
    margin: 5%;
 }
 .contenedor .table tr td {
        border: 2px solid;
 }


 .contenedor .table tr td .top_texto_qualidade {
    margin-top: 30%;
}

.contenedor .table tr td .top_texto_itens {
    margin-top: 200%;
}
